---
# Enable standard check groups
Checks: 'bugprone-*,
         modernize-*,
         performance-*,
         readability-*,
         -bugprone-easily-swappable-parameters'

# Treats all warnings as errors to enforce clean builds
WarningsAsErrors: '*'

# Provide a regex to filter header files (important for multi-file projects)
HeaderFilterRegex: '.*'
...
